.site-author-image {
  display: block;
  margin: 0 auto;
  padding: $site-author-image-padding;
  max-width: $site-author-image-width;
  height: $site-author-image-height;
  border: $site-author-image-border-width solid $site-author-image-border-color;

  /* 头像圆形 */
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  box-shadow: inset 0 -1px 0 #333sf;

  /* 设置循环动画：animation:动画名称 动画播放时长单位秒或微秒
    动画播放的速度曲线linear为匀速 动画播放次数infinite为循环播放; */
  -webkit-animation: play 3s linear infinite;
  -moz-animation: play 3s linear infinite;
  animation: play 3s linear infinite;

  /* 鼠标经过头像旋转360度*/
  -webkit-transition: -webkit-transform 1.5s ease-out;
  -moz-transition: -moz-transform 1.5s ease-out;
  transition: transform 1.5s ease-out;

}

img:hover {
  /* 鼠标经过停止头像旋转 */
  -webkit-animation-play-state:paused;
  animation-play-state:paused;

  /* 鼠标经过头像旋转360度*/
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}

.site-author-name {
  margin: $site-author-name-margin;
  text-align: $site-author-name-align;
  color: $site-author-name-color;
  font-weight: $site-author-name-weight;
}

.site-description {
  margin-top: $site-description-margin-top;
  text-align: $site-description-align;
  font-size: $site-description-font-size;
  color: $site-description-color;
}
