dist/
.astro/
# dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.production
.DS_Store
.idea/
.vscode/
public/pagefind
public/
.DS_Store
Thumbs.db
db.json
*.log
node_modules/
.deploy*/
_multiconfig.yml
.idea/
.vscode/
*.log
*.iml
yarn.lock
.nyc_output/
coverage/