{{/* favicon 统一放在 static/favicon/ */}}
<link rel="icon" href="{{ "favicon/favicon.ico" | relURL }}" sizes="any" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon/favicon-32x32.png" | relURL }}" />
<link rel="icon" type="image/png" sizes="48x48" href="{{ "favicon/favicon-48x48.png" | relURL }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ "favicon/apple-touch-icon.png" | relURL }}" />
<link rel="apple-touch-icon" sizes="167x167" href="{{ "favicon/apple-touch-icon-167x167.png" | relURL }}" />
<link rel="apple-touch-icon" sizes="152x152" href="{{ "favicon/apple-touch-icon-152x152.png" | relURL }}" />
<link rel="manifest" href="{{ "favicon/site.webmanifest" | relURL }}" />
