.card-widget#card-calendar
    #calendar-area-left
        #calendar-week
        #calendar-date(style="font-size: 48px;")
        #calendar-solar
        #calendar-lunar
    #calendar-area-right
        #calendar-main