/* 标签页文章板块透明设置 */ 
/* .page.type-tags #page { background: rgba(255, 255, 255, 0); 完全透明 box-shadow: none; border: none; } */

.cardHover,
.layout > div:first-child:not(.nc),
#recent-posts .recent-post-item,
#article-container .shuoshuo-item,
#aside-content .card-widget,
.layout .pagination > *:not(.space) {
  /* 半透明白色背景 */
  /* background: rgba(255, 255, 255, 0.65);  */
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: background 0.3s ease, backdrop-filter 0.3s ease;
}


/* 单栏模式下（html 带 hide-aside 类）让标题信息整体居中 */
html.hide-aside #post-info {
  text-align: center;         /* 居中对齐 */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;     /* 垂直堆叠 */
  align-items: center;        /* 水平居中 */
}


/* 隐藏原有分类，已通过 js 实现*/
/* #content-inner #page .category-lists {
  display: none;
} */

/* 隐藏页脚养鱼 */
.footer-other {
  display: none; /* 完全隐藏元素，且不占用空间 */
}


