---
import Hr from "./Hr.astro";
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class:list={["w-full", { "mt-auto": !noMarginTop }]}>
  <Hr noPadding />
  <div class="flex flex-col items-center gap-4 py-6 sm:grid sm:grid-cols-3 sm:items-center sm:gap-4 sm:py-4">
    <div class="order-1 sm:order-3 sm:flex sm:justify-end">
      <Socials centered />
    </div>
    <span class="order-2 text-center">&#169;2018&dash;{currentYear}</span>
    <div class="order-3 flex flex-col items-center whitespace-nowrap sm:order-1 sm:flex-row sm:justify-start">
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh-hans">CC BY-NC-SA 4.0</a>
    </div>
  </div>
</footer>
