//- .category-lists!= list_categories()
.category-lists
  // 统计图容器
  #categories-chart(data-parent="true" style="height: 300px; padding: 10px;")
  // 分类列表
  div!= list_categories()

// 页面底部添加脚本
//- script.
//-   document.addEventListener("DOMContentLoaded", function() {
//-     // 等 list_categories 渲染完成后隐藏
//-     const categoryLists = document.querySelector('.category-lists');
//-     if (categoryLists) {
//-       categoryLists.style.display = 'none';
//-     }
//-   });