/* 桌面端布局 */
@media (min-width: 1024px) {
    #nav {
      display: flex;
      justify-content: space-between; /* 主轴对齐方式为间距平均分布 */
      font-size: 1.5rem !important; /* 导航栏字体大小 */
      align-items: center;
      padding: 1rem 2rem;
    }

    #blog-info {
      width: calc(100% / 4) !important;
      flex-shrink:0;
    }

    /* 菜单容器设置为弹性容器并居中 */
    #menus {
      display: flex !important;
      width: calc(100% / 2) !important;
      flex-shrink:1;
    }

    .menus_items {
      width: 100%;
      display: flex !important;
      justify-content: space-around; /* 菜单项水平对齐 */
      padding-left: 5vw;
      padding-right: 5vw;
      font-size: 1.5vw !important; /* 导航栏字体大小 */
    }

    .menus_item {
      flex-shrink:1;
      text-overflow:ellipsis;
      white-space: nowrap;
    }

    #search-button {
      text-align: right;
      width: calc(100% / 4) !important;
      flex-shrink:0;
    }
}

/* 二级导航栏水平展示 */
.menus_item_child li:not(#sidebar-menus li) {
    float: left;
    border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    -o-border-radius: 6px !important;
}

.menus_item_child:not(#sidebar-menus ul) {
    left: 50%;
    translate: -50%;
}
