{{- $date := partial "functions/date.html" . -}}
{{- $marker := "__ARTICLE_DATE__" -}}
{{- $text := i18n "article.date_updated" (dict "Date" $marker) | emojify -}}
{{- $parts := split $text $marker -}}
<time datetime="{{ . }}">
  {{- with index $parts 0 }}<span class="article-meta__label">{{ . }}</span>{{ end -}}
  <span class="article-meta__value sc-num">{{ $date }}</span>
  {{- if gt (len $parts) 1 -}}
    {{- with index $parts 1 }}<span class="article-meta__suffix">{{ . }}</span>{{ end -}}
  {{- end -}}
</time>
{{- /* Trim EOF */ -}}
