{{- $type := .Get 0 | default "note" -}}
{{- $title := .Get "title" | default "" -}}

{{- $defaults := dict
  "note" (dict "title" "Note" "icon" "circle-info")
  "tip" (dict "title" "Tip" "icon" "lightbulb")
  "important" (dict "title" "Important" "icon" "comment")
  "warning" (dict "title" "Warning" "icon" "triangle-exclamation")
  "caution" (dict "title" "Caution" "icon" "xmark")
-}}

{{- $meta := index $defaults $type | default (index $defaults "note") -}}
{{- $displayTitle := $title | default $meta.title -}}

<aside class="sc-callout sc-callout--{{ $type }} not-prose" role="note">
  <div class="sc-callout__content">
    <div class="sc-callout__label">
      <span class="sc-callout__icon" aria-hidden="true">{{- partial "icon.html" $meta.icon -}}</span>
      <span class="sc-callout__title">{{ $displayTitle }}</span>
    </div>
    <div class="sc-callout__body prose dark:prose-invert">
      {{ .Inner | markdownify }}
    </div>
  </div>
</aside>
