name: Pages

on:
  push:
    branches:
      - master  # 监听 master 分支的推送事件

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: recursive

      - name: Use Node.js 22
        uses: actions/setup-node@v6
        with:
          node-version: "22"

      - name: Install Dependencies
        run: npm install  # 不使用缓存，直接安装依赖

      - name: Build
        run: npm run build  # 构建 Hexo 静态文件

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./public  # 上传构建好的静态文件

  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
        with:
          token: ${{ secrets.HEXO_DEPLOY_PRI }}  # 使用自定义的部署密钥
